In [1]:
import pandas as pd

In [13]:
pd.read_excel('excel-data-set-try.xlsx',header=1)

        Year  Stocks T.Bills T.Bonds
0       1928  0.4381  0.0308  0.0084
1       1929  -0.083  0.0316   0.042
2       1930 -0.2512  0.0455  0.0454
3       1931 -0.4384  0.0231 -0.0256
4       1932 -0.0864  0.0107  0.0879
..       ...     ...     ...     ...
79      2007  0.0549  0.0988  0.0466
80      2008   -0.37  0.2587   0.016
81      2009  0.2646  -0.149   0.001
82       NaN  stocks  tbills   bonds
83  averages     NaN     NaN     NaN

[84 rows x 4 columns]

In [21]:
pd.read_excel('excel-data-set-try.xlsx',sheet_name='Sheet2')

     Just Try
0  I m Trying

In [7]:
pd.read_csv('S08_question_answer_pairs.txt',sep='\t')

,ArticleTitle,Question,Answer,DifficultyFromQuestioner,DifficultyFromAnswerer,ArticleFile
0,Abraham_Lincoln,Was Abraham Lincoln the sixteenth President of...,yes,easy,easy,S08_set3_a4
1,Abraham_Lincoln,Was Abraham Lincoln the sixteenth President of...,Yes.,easy,easy,S08_set3_a4
2,Abraham_Lincoln,Did Lincoln sign the National Banking Act of 1...,yes,easy,medium,S08_set3_a4
3,Abraham_Lincoln,Did Lincoln sign the National Banking Act of 1...,Yes.,easy,easy,S08_set3_a4
4,Abraham_Lincoln,Did his mother die of pneumonia?,no,easy,medium,S08_set3_a4
...,...,...,...,...,...,...
1710,Woodrow_Wilson,Was Wilson president of the American Political...,Yes,NaN,easy,S08_set3_a8
1711,Woodrow_Wilson,Did he not cast his ballot for John M. Palmer ...,Yes,NaN,easy,S08_set3_a8
1712,Woodrow_Wilson,Did Wilson not spend 1914 through the beginnin...,Yes,NaN,easy,S08_set3_a8
1713,Woodrow_Wilson,"Was Wilson , a staunch opponent of antisemitis...",Yes,NaN,easy,S08_set3_a8
1714,Woodrow_Wilson,What happened in 1917?,"raised billions through Liberty loans, imposed...",NaN,medium,S08_set3_a8